@font-face {
  font-family: mabry-light;
  src: url(fonts/Mabry\ Pro\ Light.otf);
}
@font-face {
  font-family: mabry-regular;
  src: url(fonts/Mabry\ Pro.otf);
}
@font-face {
  font-family: mabry-medium;
  src: url(fonts/Mabry\ Pro\ Medium.otf);
}
@font-face {
  font-family: mabry-bold;
  src: url(fonts/Mabry\ Pro\ Bold.otf);
}

:root {
  --bg-color: #151314;
  --text-color: #e8cfb1;
  --text-secondary-color: #dcb789;
  --accent-color: #e07534;
  --border-color: #544B43;
  --primary-color: #f1be70;
}

/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: normal;
  scrollbar-color: var(--bg-color) var(--border-color);
}

html::-webkit-scrollbar {
  width: 0.7vw;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 100px;
}


html::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #151314;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Mabry Pro', sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
  list-style: none;
}

/* Improve media defaults */

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
}

::selection {
  color: var(--accent-color);
  background: var(--text-color);
}

.logo-container {
  display: table;
  padding: 0rem 0vw;
  width: 100%;
}

.logo {
  line-height:8vmax;
  height:8.7vmax;
  color: rgba(231, 206, 176, 0);
  background-image: -webkit-linear-gradient(315deg, #f1be70 20%, #e07534 100%); 
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 8.5vw;
  font-family: mabry-bold;
  text-align: center;
  background-size: 200% 200%;
  animation: rainbow 3s ease-in-out infinite;
  transition: color .3s ease-in-out, opacity 0.1s ease-out;
  user-select: none;
}

.logo:hover{
  color:rgba(0,0,0,0);
}

.logo-show {
  color: var(--text-color);
  background-image: -webkit-linear-gradient(315deg, #f1be70 20%, #e07534 100%); 
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2.5rem;
  text-anchor: middle;
  font-family: mabry-bold;
  /* width: 30%; */
  padding-right: 3.5vw;
  opacity: 0;
  background-size: 200% 200%;
  animation: rainbow 3s ease-in-out infinite;
  transition: color .3s ease-in-out, opacity 0.1s ease-out;
  user-select: none;
}

.logo-show:hover{
  color:rgba(0,0,0,0);
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

.navbar {
  position: relative;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 20px;
  position: sticky;
  top: -0.01%;
  z-index: 2;
  transition: 0.3s;
  width: auto;
  margin-inline: 2rem;
}

.navbar.sticking {
  background-color: #544b438e;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  top: 1%;
  backdrop-filter: blur(20px);
  margin-inline: 10rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-menu {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vw;
  padding-left: 3.5vw;
  padding-block: 1.5rem;
}

.nav-menu .line {
  display: none;
}

.nav-link {
  font-size: 1.1rem;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
}

.nav-menu .nav-link:after {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  border-radius: 100px;
  height: 2px;
  width: 0;
  left: 1px;
  bottom: -5px;
  transition: 0.3s;
}

.nav-link-selected {
  font-size: 1.1rem;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
}

.nav-menu .nav-link-selected:after {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  border-radius: 100px;
  height: 2px;
  width: 100%;
  left: 1px;
  bottom: -5px;
  transition: 0.3s;
}

.nav-menu .nav-link:hover:after {
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  padding: 4rem 5vw;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 7rem 15vw;
  padding-bottom: 4rem;
  gap: 3rem;
  width: 100%;
  background-color: #151314;
}

.header .container h1 {
  color: var(--text-color);
  font-family: mabry-medium;
  font-size: 1.5rem;
}

.header .container p1 {
  color: transparent; 
  background-image: -webkit-linear-gradient(315deg, #f1be70 20%, #e07534 100%); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  font-family: mabry-medium;
  padding-bottom: 2rem;
}

.header .container .line {
  position: relative;
  background-color: var(--text-color);
  width: 50%;
  height: 2px;
}

.header .title {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 8rem 10vw;
}

.grid {
  width: 100%;
  margin-inline: auto;
}

.grid .container {
  width: 100%;
  padding: 2rem max((100% - 71.25rem)/3,2rem);
  padding-bottom: 5rem;
}

.grid .gallery {
  display: flex;
  gap: 50px;
  box-sizing: border-box;
  flex-direction: column;
}

.grid .gallery .box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* overflow: hidden; */
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #201D1C;
}

.grid .gallery .box-reversed {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #201D1C;
}

.grid .gallery .box img {
  width: 40%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.grid .gallery .box-reversed img {
  width: 40%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}


.grid .gallery .content-reversed {
  background-color: #201D1C;
  color: #e8cfb1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  overflow: hidden;
  box-shadow: inset -48px 0px 19px -52px rgba(0,0,0,0.66);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.grid .gallery .content-reversed .title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
  flex-grow: 999;
}

.grid .gallery .content-reversed .title h1 {
  color: var(--text-color); 
  font-size: 2rem;
  font-family: mabry-bold;
}

.grid .gallery .content-reversed .title .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.grid .gallery .content-reversed .title .description p1{
  font-size: 1.4rem;
  font-family: mabry-regular;
  color: var(--text-secondary-color);
}

.grid .gallery .content-reversed .title .description p2{
  font-size: 1.1rem;
  font-family: mabry-regular;
  color: var(--text-color);
}

.grid .gallery .content-reversed .info {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.grid .gallery .content-reversed .info p {
  text-align: end;
  font-size: 1rem;
  font-family: mabry-medium;
  padding: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.grid .gallery .content-reversed .info p:hover {
  background-color: #151314;
}

.grid .gallery .content-reversed .info h1 {
  font-size: 1rem;
  font-family: mabry-medium;
  padding: 1rem;
}

.grid .gallery .content {
  background-color: #201D1C;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  text-align: justify;
  overflow: hidden;
  box-shadow: inset 48px 0px 19px -52px rgba(0,0,0,1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grid .gallery .box img:hover {
  box-shadow: 0px 0px 28px -4px rgba(0,0,0,1);
  scale: 1.05;
  transform: translate(-10px,0px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grid .gallery .box-reversed img:hover {
  box-shadow: 0px 0px 28px -4px rgba(0,0,0,1);
  scale: 1.05;
  transform: translate(10px,0px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.grid .gallery .content .title {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
  flex-basis: auto;
  flex-grow: 999;
}

.grid .gallery .content .title h1 {
  font-size: 2rem;
  font-family: mabry-bold;
}

.grid .gallery .content .title .description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid .gallery .content .title .description p1{
  font-size: 1.4rem;
  font-family: mabry-regular;
  color: var(--text-secondary-color);
}

.grid .gallery .content .title .description p2{
  font-size: 1.1rem;
  font-family: mabry-regular;
  color: var(--text-color);
}

.grid .gallery .content .info {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid .gallery .content .info p {
  font-size: 1rem;
  font-family: mabry-medium;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
  /* border-right: 1px solid #544B43; */
}

.grid .gallery .content .info p:hover {
  background-color: var(--bg-color);
}

.grid .gallery .content .info h1 {
  font-size: 1rem;
  font-family: mabry-medium;
  padding: 1rem;
}

.footer {
  padding: 5rem max((100% - 71.25rem)/3,2rem);
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--text-color);
  border-radius: 10px;
  padding: 3rem 5vw;
}

.footer .container .avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.footer .container .avatar img {
  width: 3.5rem;
  border-radius: 100%;
  border: 2px solid var(--border-color);
  padding: 0.123rem;
}

.footer .container .avatar p {
  font-size: 1.7rem;
  font-family: mabry-bold;
  padding-top: 4px;
  color: var(--bg-color);
}

.footer .container .grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3em;
  width: 100%;
}

.footer .container .grid h1 {
  font-size: 1.1rem;
  font-family: mabry-regular;
  color: #15131492;
}

.footer .container .grid a {
  font-size: 1.1rem;
  font-family: mabry-regular;
  color: var(--bg-color);
  transition: 0.5s ease;
  cursor: pointer;
}

.footer .container .grid .explore a:hover,
.footer .container .grid .social-media a:hover {
  transform: translate(-5px,0px);
}

.footer .container .grid .about a {
  cursor: default;
}

.footer .container .grid .explore {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: max-content;
}

.footer .container .grid .social-media {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: max-content;
}

.footer .container .grid .about {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: max-content;
}

.footer .container .info p {
  font-size: 1rem;
  font-family: mabry-regular;
  color: var(--bg-color);
}

.footer .container p1 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

@media all and (max-width: 1440px) {
  .header .container h1 {
    font-size: 1.3rem;
  }
  .header .container p1 {
    font-size: 3rem;
  }
}

@media all and (max-width: 1000px) {
  .grid .gallery .box {
    flex-direction: column;
  }
  .grid .gallery .box-reversed {
    flex-direction: column-reverse;
  }
  .grid .gallery .box img {
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .grid .gallery .box img:hover {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(0px,0px);
  }
  .grid .gallery .box-reversed img {
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .grid .gallery .box-reversed img:hover {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(0px,0px);
  }
  .grid .gallery .content-reversed {
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px 48px 19px -52px rgba(0,0,0,0.75);
  }
  .grid .gallery .content {
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px 48px 19px -52px rgba(0,0,0,0.75);
  }
  .grid .gallery .content .info p {
    text-align: center;
  }
  .grid .gallery .content-reversed .info p {
    text-align: center;
  }
}

@media all and (max-width: 850px) {
  .footer .container .grid {
    flex-direction: column;
  }
  .footer .container {
    padding: 3rem;
  }
}

@media all and (max-width: 810px) {
  .header .container h1 {
    font-size: 1.1rem;
  }
  .header .container p1 {
    font-size: 2rem;
  }
}

@media all and (max-width: 570px) {
  .nav-menu .line {
    display: block;
  }
  .nav-link {
    font-size: 1.1rem;
  }
  .nav-link-selected {
    font-size: 1.1rem;
  }
  .footer .container .avatar p {
    display: none;
  }
  .footer .container .avatar {
    flex-direction: column;
  }
}

@media all and (max-width: 765px) {
  .navbar.sticking {
    margin-inline: 0.5rem;
  }
  .navbar {
    margin-inline: 0.5rem;
  }
}


@media all and (max-width: 1375px) {
  .nav-container {
    justify-content: center;
  }
  .nav-menu {
    padding-inline: 0.5rem;
  }
  .logo-show {
    display: none;
  }
}